
@font-face {
  font-family: 'bw2text';
  src: url('./assets/bw2text.otf') format('opentype'),
    url('./assets/bw2text.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body, #app {
    position: fixed;

    width: 100%;
    height: 100%;

    margin: 0;

    overflow: hidden;
}

body {
    background-color: #08b57b;

    background-size: 16px 16px;
    background-image:
        linear-gradient(to right, #008463 2px, transparent 2px),
        linear-gradient(to bottom, #008463 2px, transparent 2px);
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;

    gap: 7px;
}

.hello {
  color: rgb(18, 8, 8);
  font-family: 'bw2text';
  font-size: 40px;
  text-shadow: 0px 2.5px #b8b8b8;
}

.idText {
    color: rgb(255, 255, 255);
    font-family: 'bw2text';
    font-size: 20px;
    text-shadow: 0px 1.5px #8b8b8b;

    background-color: #181818;

    padding-right: 2px;
}

.pokemonTile {
    background-color: #181818;

    padding: 4px;
}

.topInfo {
    position: absolute;

    display: flex;
}

.gridSprite {
    width: 141.5px;
    aspect-ratio: 1 / 1;
    image-rendering: crisp-edges;

    background-color: white;

    display: block;

    background-size: 14px 14px;
    background-image:
        linear-gradient(to right, #dedede 1.5px, transparent 1.5px),
        linear-gradient(to bottom, #dedede 1.5px, transparent 1.5px);

    border-style: solid;

    border-width: 1.5px;
    border-color: gray;

    padding-top: 8px;
}

.indexHolder {
    width: 46px;
    height: 18px;
    
    background-image: url('./assets/spritesheet.png');
    background-position: 0px -40px;
    background-size: 128px 128px;

    transform: scaleY(-1);

    image-rendering: crisp-edges;
}






/* Customize the label (the container) */
.checkbox-container {
    height: 32px;
    display: block;
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 36px;

    color: rgb(255, 255, 255);
    font-family: 'bw2text';
    text-shadow: 0px 2px #8b8b8b;

    padding-right: 2px;
}




.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
  /* background-color: #eee; */

    background-image: url('./assets/spritesheet.png');
    background-position: 0px -64px;
    background-size: 128px 128px;

    image-rendering: crisp-edges;
}

.checkbox-container input:checked ~ .checkmark {

    background-position: -32px -64px;
}

.catchDiv {
    height: 149.5px;
    width: 141.5px;

    position: absolute;

    display: flex;
    justify-items: baseline;
}

.catchIndicator {

    position: absolute;

    top: 5px;
    right: 2.5px;


    height: 26px;
    width: 26px;

    background-image: url('./assets/spritesheet.png');
    background-position: -52px 0px;
    background-size: 128px 128px;

    image-rendering: crisp-edges;
}

.catchIndicator:hover {

    background-position: -78px 0px;
}

.catchIndicator.caught:hover {

    background-position: -26px 0px;
}

.caught {
    background-position: 0px 0px;
}


.byteText {
    color: rgb(255, 255, 255);
    font-family: 'bw2text', helvetica;
    font-size: 20px;
    text-shadow: 0px 1.5px #8b8b8b;

    margin: 0px;
}

.byteText.empty {
    color: rgb(150, 150, 150);
    text-shadow: 0px 1.5px #2e2e2e;
}

.hexView {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    padding: 6px;

    background-color: #181818;
}

.byteRow {
    display: flex;
    flex-direction: row;

    height: 20px;
}

.byteDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;

    padding: 2px;
}

.charDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8px;

    padding: 2px;
}

#viewer {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

#app {
    display: flex;
    padding-top: 10px;
}

sprite {
    display: block;

    background-image: url('./assets/spritesheet.png');
    image-rendering: crisp-edges;
}

icon {
    display: block;

    background-image: url('./assets/genvicons.png');
    image-rendering: crisp-edges;
}