
@font-face {
  font-family: 'bw2text';
  src: url('./assets/bw2text.otf') format('opentype'),
    url('./assets/bw2text.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body, #app {
    position: fixed;

    width: 100%;
    height: 100%;

    margin: 0;

    overflow: hidden;
}

body {
    background-color: #08b57b;

    background-size: 16px 16px;
    background-image:
        linear-gradient(to right, #008463 2px, transparent 2px),
        linear-gradient(to bottom, #008463 2px, transparent 2px);
}

#app {
    display: flex;
    padding-top: 10px;
}

sprite {
    display: block;

    background-image: url('./assets/spritesheet.png');
    image-rendering: crisp-edges;
}

icon {
    display: block;

    background-image: url('./assets/genvicons.png');
    image-rendering: crisp-edges;
}

p {
    position: absolute;

    color: #dedede;
    font-family: 'bw2text';
    font-size: 32px;
    text-shadow: 0px 2px #848484;

    margin-block-start: 0;
    margin-inline-start: 0;

    margin: 0px;
}